<%- include('partials/header') %>


<!--Navbar-->
<div class="headerContainer">

  <nav class="navbar navbar-light navbar-1 white">

    <!-- Navbar brand -->
    <h4><%= firstName %></h4>
    <h2 class="headerText">Facultatea de Automatica, Calculatoare si Electronica</h2>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewmyprofile">View my Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" role="button">Log Out</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->

</div>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Welcome to Lecture Room!</h1>
    <hr>
<div class="cardsWrapper">
  <div class="cardWrapper">
    <div class="textWrapper">
      <h3 class="cardTitle">Computer Networks</h3>
    </div>
    <hr>
    <div class="imageWrapper">
      <h3 class="contentText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </h3>
    </div>
    <a class="btn btn-primary courseButton" href="computernetworks" role="button">Acces the Course</a>
  </div>

  <div class="cardWrapper">
    <div class="textWrapper">
      <h3 class="cardTitle">Web Design</h3>
    </div>
    <hr>
    <div class="imageWrapper">

      <h3 class="contentText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </h3>

    </div>
    <a class="btn btn-primary courseButton" href="computernetworks" role="button">Acces the Course</a>
  </div>

  <div class="cardWrapper">
    <div class="textWrapper">
      <h3 class="cardTitle">Distributed Algorithm</h3>
    </div>
    <hr>
    <div class="imageWrapper">
      <h3 class="contentText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</h3>
    </div>
    <a class="btn btn-primary courseButton" href="computernetworks" role="button">Acces the Course</a>
  </div>

</div>




  </div>
</div>

<%- include('partials/footer') %>
