<%- include('partials/header') %>
<!--Navbar-->
<div class="headerContainer">

    <nav class="navbar navbar-light navbar-1 white">

        <!-- Navbar brand -->
        <h4><%= firstName %></h4>
        <h2 class="headerText">Facultatea de Automatica, Calculatoare si Electronica</h2>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent15">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/teacherpage">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viewmyprofile">View my Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" role="button">Log Out</a>
                </li>
            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

</div>

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/teacherfirstcourse" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/teachercomputernetworks" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/teachercomputernetworks" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<%- include('partials/footer') %>